<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if m %}
<script>
    alert('{{ m }}');
</script>
{% endif %}

<div>
    <center>
        <b>Hello My Django After a Long Time ... Miss u so much 😘</b>
    <br>
        <form action="postData" method="post">
            {% csrf_token %}
            Email :
        <input type="text" name="email" placeholder="Username">
    <br>
        Password :
    <input type="password" name="password" placeholder="Password">
    <br><br>
    <input type="submit" value="save">
        </form>
    </center>
</div>
</body>
</html>